<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Position</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
		$(function () {
			$("#main").load("/Tailwind/public/main.html");
		});
  </script>

</head>
<body class="bg-gray-700">

<div id="main"></div>

<!-- The content section -->
<div class="container mx-auto">

  <h1 class="text-5xl text-gray-300 my-5">
    Position
  </h1>
  <p class="text-2xl text-gray-400">
    Utilities for controlling how an element is positioned in the DOM.

    <a class="text-cyan-500 underline" target="_blank"
       href="https://tailwindcss.com/docs/position">more</a>
  </p>


  <div class="overflow-scroll shadow-2xl rounded-xl w-[500px] h-80 mx-auto my-10">
    <table class="table-auto text-left text-gray-300 mx-auto">
      <thead>
      <tr>
        <th class="py-4 px-6 font-sans font-medium text-sm border-b border-gray-500">
          Class
        </th>
        <th class="py-4 px-6 font-sans font-medium text-sm border-b border-gray-500">
          Properties
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-4 px-6 border-b border-gray-500 text-sky-500">
          static
        </td>
        <td class="py-4 px-6 border-b border-gray-500 text-indigo-400">position: static;</td>
      </tr>
      <tr>
        <td class="py-4 px-6 border-b border-gray-500 text-sky-500">
          fixed
        </td>
        <td class="py-4 px-6 border-b border-gray-500 text-indigo-400">position: fixed;</td>
      </tr>
      <tr>
        <td class="py-4 px-6 border-b border-gray-500 text-sky-500">
          absolute
        </td>
        <td class="py-4 px-6 border-b border-gray-500 text-indigo-400">position: absolute;</td>
      </tr>
      <tr>
        <td class="py-4 px-6 border-b border-gray-500 text-sky-500">
          relative
        </td>
        <td class="py-4 px-6 border-b border-gray-500 text-indigo-400">position: relative;</td>
      </tr>
      <tr>
        <td class="py-4 px-6 border-b border-gray-500 text-sky-500">
          sticky
        </td>
        <td class="py-4 px-6 border-b border-gray-500 text-indigo-400">position: sticky;</td>
      </tr>

      </tbody>
    </table>
  </div>

  <h2 class="text-3xl text-gray-300 my-5">
    Fixed positioning elements
  </h2>
  <p class="text-2xl text-gray-400">
    Use fixed to position an element relative to the browser window.
    <br>
    Any offsets are calculated relative to the viewport and the element will act as a position reference for absolutely
    positioned children.

    <a class="text-cyan-500 underline" target="_blank"
       href="https://tailwindcss.com/docs/position#fixed-positioning-elements">more</a>
  </p>

  <div class="resize-x overflow-auto w-[1000px] min-w-[300px] max-w-full
    border border-gray-500 shadow-xl rounded-lg mx-auto my-10 p-4">

    <div class="relative rounded-xl">
      <div class="px-3">
        <div
            class="relative max-w-md mx-auto bg-white dark:bg-slate-800 shadow-lg h-80 overflow-hidden ring-1 ring-slate-900/5">
          <div
              class="absolute top-0 left-0 right-0 px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10">
            Contacts
          </div>
          <div class="overflow-auto flex flex-col divide-y h-80 dark:divide-slate-200/5">
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Andrew Alfred</strong>
            </div>
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Debra Houston</strong>
            </div>
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Jane White</strong>
            </div>
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Ray Flint</strong>
            </div>
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Mindy Albrect</strong>
            </div>
            <div class="flex items-center gap-4 p-4">
              <img class="w-12 h-12 rounded-full"
                   src="/Tailwind/public/img/user2.png">
              <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">David Arnold</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h2 class="text-3xl text-gray-300 my-5">
    Sticky positioning elements
  </h2>
  <p class="text-2xl text-gray-400">
    Use sticky to position an element as relative until it crosses a specified threshold, then treat it as fixed until
    its parent is off screen.

    Any offsets are calculated relative to the element’s normal position and the element will act as a position
    reference for absolutely positioned children.

    <a class="text-cyan-500 underline" target="_blank"
       href="https://tailwindcss.com/docs/position#sticky-positioning-elements">more</a>
  </p>

  <div class="resize-x overflow-auto w-[1000px] min-w-[300px] max-w-full
    border border-gray-500 shadow-xl rounded-lg mx-auto my-10 p-4">

    <div class="relative rounded-xl">
      <div class="px-3">
        <div
            class="relative max-w-md mx-auto bg-white dark:bg-slate-800 shadow-lg h-80 overflow-auto ring-1 ring-slate-900/5 -my-px">
          <div class="relative">
            <div
                class="sticky top-0 px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10">
              A
            </div>
            <div class="divide-y dark:divide-slate-200/5">
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Andrew Alfred</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Aisha Houston</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Anna White</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Andy Flint</strong>
              </div>
            </div>
          </div>
          <div class="relative">
            <div
                class="sticky top-0 px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10">
              B
            </div>
            <div class="divide-y dark:divide-slate-200/5">
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Bob Alfred</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Bianca Houston</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Brianna White</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Bert Flint</strong>
              </div>
            </div>
          </div>
          <div class="relative">
            <div
                class="sticky top-0 px-4 py-3 flex items-center font-semibold text-sm text-slate-900 dark:text-slate-200 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10">
              C
            </div>
            <div class="divide-y dark:divide-slate-200/5">
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Colton Alfred</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Cynthia Houston</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Cheyenne White</strong>
              </div>
              <div class="flex items-center gap-4 p-4">
                <img class="w-12 h-12 rounded-full"
                     src="/Tailwind/public/img/user2.png">
                <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Charlie Flint</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

</body>
</html>